
@{
    ViewBag.Title = "martyjbonales.com - Contact";
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}

<section>
    <h2>Contact</h2>
    <div class="row">
        <div class="col-xs-12">
            <p>
                I can be reached by email and via SMS. I am looking forward to hearing from you.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">

            <div class="panel panel-default">
                <div class="panel-body text-center">
                    
                    <span class="glyphicon glyphicon-envelope"></span>
                    <a href="mailto:marby74@gmail.com">marby74@gmail.com</a>

                    <br />

                    <span class="glyphicon glyphicon-phone"></span>
                    (502) 494-7889 (Text Only)

                </div>
            </div>   

        </div>
    </div>
</section>

