
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}

<section id="banner-section">
    <div class="row">
        <div class="col-xs-offset-6 col-xs-6">
            <hgroup>
                <h1>Marty John Bonales</h1>
                <h3>Tutor in American Sign Language</h3>
            </hgroup>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Contact")">Contact</a>
        </div>
    </div>
</section>

<section id="about-section">
    <div class="row">
        <div class="col-md-8">
            <blockquote class="blockquote-reverse">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales augue mollis mollis accumsan.
                    Donec commodo fermentum nunc eget pulvinar. Aenean semper arcu sed ante condimentum lobortis.
                    Nam odio nibh, tristique et augue non, ullamcorper finibus arcu.
                    Etiam porta diam in dui molestie pharetra. Nulla facilisi.
                    Mauris pretium viverra felis ut ultricies.
                </p>
            </blockquote>
        </div>
        <div class="col-md-4 hidden-sm">
            <img id="pic-love" class="img-responsive img-circle center-block" src="@Url.Content("~/Media/images/empty.png")" alt="love" />
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-md-4 hidden-sm">
            <img id="pic-woman" class="img-responsive img-circle center-block" src="@Url.Content("~/Media/images/empty.png")" alt="woman" />
        </div>
        <div class="col-md-8">
            <blockquote>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales augue mollis mollis accumsan.
                    Donec commodo fermentum nunc eget pulvinar. Aenean semper arcu sed ante condimentum lobortis.
                    Nam odio nibh, tristique et augue non, ullamcorper finibus arcu.
                    Etiam porta diam in dui molestie pharetra. Nulla facilisi.
                    Mauris pretium viverra felis ut ultricies.
                </p>
            </blockquote>
        </div>
    </div>
</section>

