
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}

<section id="banner-section">
    <div class="row">
        <div class="col-xs-offset-6 col-xs-6">
            <hgroup>
                <h1>Marty John Bonales</h1>
                <h3>Tutor in American Sign Language</h3>
            </hgroup>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Contact")">Contact</a>
        </div>
    </div>
</section>

