
@{
    ViewBag.Title = "martyjbonales.com";
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}

<section id="banner-section">
    <div class="row">
        <div class="col-xs-offset-6 col-xs-6">
            <hgroup>
                <h1>Marty J. Bonales</h1>
                <h3>Tutor in American Sign Language</h3>
                <h4>Based in Louisville, KY</h4>
            </hgroup>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Contact")">Contact</a>
        </div>
    </div>
</section>

<section id="about-section">
    <div class="row">
        <div class="col-md-8">
            <blockquote class="blockquote-reverse">
                <p class="lead">
                    Welcome. My name is Marty J. Bonales. 
                    I work with families and friends of the deaf to help anyone who wishes to communicate 
                    in our native language: 
                    <a href="https://en.wikipedia.org/wiki/American_Sign_Language">
                        American Sign Language
                    </a>. 
                    I am a native speaker of ASL, it is my first 
                    language as I was born without hearing. English, in written form, is my second language. 
                    As a tutor, I can help bridge the gap between these diverse and expressive forms of speech through fun and practice.
                </p>
            </blockquote>
        </div>
        <div class="col-md-4 hidden-sm">
            <img id="pic-love" class="img-responsive img-circle center-block" src="@Url.Content("~/Media/images/empty.png")" alt="love" />
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-md-4 hidden-sm">
            <img id="pic-woman" class="img-responsive img-circle center-block" src="@Url.Content("~/Media/images/empty.png")" alt="woman" />
        </div>
        <div class="col-md-8">
            <blockquote>
                <p class="lead">
                    When working with children, we start with using gesture as a mechanism for sharing meaning. 
                    Children cannot begin with finger spelling and it may take a number of years before they can spell complex words. 
                    However, simple gestures are easy for children to associate with words and complex topics. 
                    We start with the basics and then work our way into formal sentences.
                </p>
            </blockquote>
        </div>
    </div>
</section>

<section id="about-section">
    <div class="row">
        <div class="col-md-12">
            <blockquote class="blockquote-reverse">
                <p>
                    Although many tutors will start using finger spelling and the ASL alphabet with adults immediately, 
                    I prefer to begin with traditional signs and defer the use of finger spelling for several weeks. 
                    This provides a challenge to students that allows them to develop a basic vocabulary of proper 
                    signs and grammar before we begin with spelling. Spelling should be considered a fall back option 
                    for situations where the speaker does not know the ASL word. In my experience, it is best to start 
                    as an adult in the same position that you would be if you were a child who does not yet know how to spell. 
                    Families may then focus together on images and gestures that can be shared by all speakers.
                </p>
            </blockquote>
        </div>
    </div>
</section>