<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="mailto:marby74@gmail.com">
                            &copy; 2014 - @DateTime.Now.Year Marty J. Bonales
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</footer>
