/* global.css */
body {
    padding-top: 30px;
    padding-bottom: 60px;
}

#body-container {
    padding: 0;
}

section {
    margin: 20px 10px 0px 10px;
}

#banner-section {
    height: 500px;
    background: url('../Media/images/coverphoto.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
}

#banner-section hgroup > h1 {
    padding-top: 200px;
    margin-bottom: 0;
}

#banner-section hgroup > h3 {
    margin: 0;
    padding-top: 0;
}

#banner-section a {
    margin-top: 10px;
}

#pic-love {
    background: url("../Media/images/love.jpg") no-repeat center;
    background-size: contain;
    width: 140px;
    height: 140px;
    margin-top: 22px;
}

#pic-woman {
    background: url("../Media/images/woman.jpg") no-repeat center;
    background-size: contain;
    width: 140px;
    height: 140px;
    margin-top: 22px;
}